<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cymon.cog.gallery.dao.GalleryManagerMapper">

    <select id="selectItems" resultType="ItemDto">
        SELECT
            ITEM_NO
             ,ITEM_REG_DATE
             ,ITEM_STATUS
             ,T_IMG_PATH
             ,F_IMG_PATH
             ,B_IMG_PATH
             ,D_IMG_PATH
        FROM VIEW_ITEMS
        ORDER BY ITEM_NO DESC
    </select>

    <select id="selectNextItemNo" resultType="int">
        SELECT
            LAST_NUMBER
        FROM
            USER_SEQUENCES
        WHERE
            SEQUENCE_NAME = 'SEQ_ITEMS_NO'
    </select>

    <insert id="registItems">
        INSERT INTO ITEMS VALUES (SEQ_ITEMS_NO.NEXTVAL, DEFAULT, DEFAULT)
    </insert>

    <insert id="registImagesT" parameterType="ItemDto">
        INSERT INTO IMAGES
        VALUES (
                   SEQ_IMG_NO.NEXTVAL,
                   #{itemNo},
                   'T',
                   #{tImgPath},
                   #{tImgPath},
                   #{tImgPath}
               )
    </insert>

    <insert id="registImagesF" parameterType="ItemDto">
        INSERT INTO IMAGES
        VALUES (
                   SEQ_IMG_NO.NEXTVAL,
                   #{itemNo},
                   'F',
                   #{fImgPath},
                   #{fImgPath},
                   #{fImgPath}
               )
    </insert>

    <insert id="registImagesB" parameterType="ItemDto">
        INSERT INTO IMAGES
        VALUES (
                   SEQ_IMG_NO.NEXTVAL,
                   #{itemNo},
                   'B',
                   #{bImgPath},
                   #{bImgPath},
                   #{bImgPath}
               )
    </insert>

    <insert id="registImagesD" parameterType="ItemDto">
        INSERT INTO IMAGES
        VALUES (
                   SEQ_IMG_NO.NEXTVAL,
                   #{itemNo},
                   'D',
                   #{dImgPath},
                   #{dImgPath},
                   #{dImgPath}
               )
    </insert>

    <update id="updateItem" parameterType="ItemDto">
        UPDATE ITEMS
        SET
            ITEM_STATUS = #{itemStatus}
        WHERE
            ITEM_NO = #{itemNo}
    </update>

    <update id="updateImagesT" parameterType="ItemDto">
        UPDATE IMAGES
        SET
            ORG_FILE_NAME = #{tImgPath},
            SYS_FILE_NAME = #{tImgPath},
            IMG_PATH = #{tImgPath}
        WHERE
            ITEM_NO = #{itemNo}
            AND IMG_TAG = 'T'
    </update>

    <update id="updateImagesF" parameterType="ItemDto">
        UPDATE IMAGES
        SET
            ORG_FILE_NAME = #{fImgPath},
            SYS_FILE_NAME = #{fImgPath},
            IMG_PATH = #{fImgPath}
        WHERE
                    ITEM_NO = #{itemNo}
                AND IMG_TAG = 'F'
    </update>

    <update id="updateImagesB" parameterType="ItemDto">
        UPDATE IMAGES
        SET
            ORG_FILE_NAME = #{bImgPath},
            SYS_FILE_NAME = #{bImgPath},
            IMG_PATH = #{bImgPath}
        WHERE
                    ITEM_NO = #{itemNo}
                AND IMG_TAG = 'B'
    </update>

    <update id="updateImagesD" parameterType="ItemDto">
        UPDATE IMAGES
        SET
            ORG_FILE_NAME = #{dImgPath},
            SYS_FILE_NAME = #{dImgPath},
            IMG_PATH = #{dImgPath}
        WHERE
                    ITEM_NO = #{itemNo}
                AND IMG_TAG = 'D'
    </update>






    <!--    <select id="findItemById" resultType="ItemDto">-->
    <!--        SELECT-->
    <!--            ITEM_NO-->
    <!--             , ITEM_LOCATION-->
    <!--             , ITEM_REG_DATE-->
    <!--             , ITEM_STATUS-->
    <!--        FROM ITEMS-->
    <!--        WHERE ITEM_NO = #{itemNo}-->
    <!--    </select>-->

    <!--    <select id="findLatestItem" resultType="ItemDto">-->
    <!--        SELECT-->
    <!--            ITEM_NO-->
    <!--             , ITEM_LOCATION-->
    <!--             , ITEM_REG_DATE-->
    <!--             , ITEM_STATUS-->
    <!--        FROM ITEMS-->
    <!--        WHERE-->
    <!--                ITEM_NO =-->
    <!--                (SELECT-->
    <!--                     MAX(ITEM_NO)-->
    <!--                 FROM ITEMS)-->
    <!--    </select>-->



    <!--    <update id="updateItemById" parameterType="ItemDto">-->
    <!--        UPDATE ITEMS-->
    <!--        SET-->
    <!--            ITEM_STATUS = #{itemStatus},-->

    <!--        WHERE-->
    <!--            ITEM_NO = #{itemNo}-->
    <!--    </update>-->

    <!--    <delete id="deleteItems" parameterType="ItemDto">-->
    <!--        DELETE FROM ITEMS-->
    <!--        WHERE-->
    <!--            ITEM_NO = #{itemNo}-->
    <!--    </delete>-->




</mapper>
