<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cymon.cog.gallery.dao.GalleryManagerMapper">

    <select id="selectItems" resultType="ItemDto">
        SELECT
            ITEM_NO
            , ITEM_LOCATION
            , ITEM_REG_DATE
            , ITEM_STATUS
        FROM ITEMS
        WHERE ITEM_STATUS = 'Y'
        ORDER BY ITEM_NO DESC
    </select>

    <select id="findItemById" resultType="ItemDto">
        SELECT
            ITEM_NO
             , ITEM_LOCATION
             , ITEM_REG_DATE
             , ITEM_STATUS
        FROM ITEMS
        WHERE ITEM_NO = #{itemNo}
    </select>

    <select id="findLatestItem" resultType="ItemDto">
        SELECT
            ITEM_NO
             , ITEM_LOCATION
             , ITEM_REG_DATE
             , ITEM_STATUS
        FROM ITEMS
        WHERE
                ITEM_NO =
                (SELECT
                     MAX(ITEM_NO)
                 FROM ITEMS)
    </select>

    <insert id="registItems" parameterType="ItemDto">
        INSERT INTO ITEMS
        (
            ITEM_NO
            , ITEM_LOCATION
            , ITEM_REG_DATE
            , ITEM_STATUS
        )
        VALUES
            (
                SEQ_ITEMS_NO.NEXTVAL,
                #{itemLocation},
                DEFAULT,
                DEFAULT
            )
    </insert>

    <update id="updateItemById" parameterType="ItemDto">
        UPDATE ITEMS
        SET
            ITEM_LOCATION = #{itemLocation},
            ITEM_STATUS = #{itemStatus}
        WHERE
            ITEM_NO = #{itemNo}
    </update>

    <delete id="deleteItems" parameterType="ItemDto">
        DELETE FROM ITEMS
        WHERE
            ITEM_NO = #{itemNo}
    </delete>




</mapper>
